<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

      <header>
          <div class="container">
              <a id="a-title" href="{{ '/' | relative_url }}">
                  <h1>{{ site.title | default: site.github.repository_name }}</h1>
              </a>
              <h2>{{ site.description | default: site.github.project_tagline }}</h2>

              <section id="downloads">
                  {% if site.show_downloads %}
                  <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                  <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                  {% endif %}
                  <!--<a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>-->
              </section>
          </div>
      </header>

      <div class="container">
          <section id="main_content">
              {{ content }}
          </section>
      </div>

      {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
      {% endif %}

      <canvas id="canvas" width="600" height="300" ></canvas>
      Fps: <span id="fps"></span>ms
      <script>
          
          var canvas = document.getElementById("canvas");
          var width = canvas.width;
          var height = canvas.height;

          canvas.addEventListener("mousemove", function (e) {
              // Set mouse position
			  updateCanvas({ x: e.layerX, y: e.layerY });
          });
          var ctx = canvas.getContext("2d");
          ctx.fillStyle = "#FF0000";
          ctx.fillRect(0, 0, 150, 75);
          var updating = false;

          var lights = [{ x: 100, y: 100 }];

          var updateCanvas = function (mousePosition) {
              // Make an array of all lights and the mouse position

              var centers = lights.slice();
              centers.push(mousePosition);
			  var startTime = new Date();
              updating = true;
			  var imgData = ctx.getImageData(0, 0, width, height); // only do this once per page
			  var d = imgData.data;                        // only do this once per page
              for (var y = 0; y < height; y++) {
                  for (var x = 0; x < width; x++) {
					  var score = 0;
                      var distColor = 0;
					  var alpha = 0;
                      for (var i = 0; i < centers.length; i++) {
                          var c = centers[i];
						  var dist = Math.sqrt((c.x - x) * (c.x - x) + (c.y - y) * (c.y - y));
                          if (dist < 1) {
							  dist = 1;
                          }

                          score = score + 100 / dist;
                      }

					  distColor = parseInt(score / 4 * 255);

       //               if (score > 4) {
                          
       //                   distColor = 0;
       //                   alpha = 255;
       //               } else {
       //                   distColor = 255;
       //                   alpha = 0;
					  //}
                      
                      var index = (y * width + x) * 4;
					  d[index] = distColor;
					  d[index + 1] = distColor;
					  d[index + 2] = distColor;
                      d[index + 3] = 255;

                  }
              }

			  ctx.putImageData(imgData, 0, 0);

              updating = false;
              var endTime = new Date();
              var timeDiffMs = endTime - startTime; //in ms
              var fps = 1000 / timeDiffMs;
			  document.getElementById("fps").innerText = parseInt(fps);
          }
      </script>


  </body>
</html>
